body{
    background: url("http://i1.piimg.com/4851/60ea05937acff72d.jpg") no-repeat;
    background-size: 34%;
    background-position: 800px 30px;
}
.head{
    text-align: center;
    width:600px;
    margin:200px auto;
}
h1{
    font-size: 50px;
}
h3{

}
