*{
    font-family:sans-serif;
}

.head{
    text-align: center;
    width:600px;
    margin:200px auto;
}
h1{
    font-size: 50px;
    z-index:1000;
}
h3{
    z-index:1000;
}

.img{
    position: absolute;
    right: 10%;
    top: 10%;
    width: 450px;
    height: 525px;
    background: url(http://p1.bpimg.com/4851/d2cabfc0518bddb3.jpg) no-repeat center;
    background-size: 100%;
    z-index: -1;
    opacity: .4
}
